@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic")

$main_font-family = "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif
$secondary_font-family = "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif

main
  font-family $main_font-family
  font-size 12px
  // color $main_font-color
  color rgba(0,0,0,.8)

h1, h2, h3, h4, h5, h6
  margin 0
  color $secondary_font-color
  font-weight 700
  // font-family $secondary_font-family
  font-family medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif
  letter-spacing 2px

h1
  font-size 38px
  line-height 1.04

h2
  font-size 24px
  line-height 36px

h3
  font-size 21px
  line-height 32px
